header#masthead
  //- .logo
  //-   img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/combat-1300519_640.png")
  h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus aliquid dolorum, consequatur nulla fugit.

header#top-header
  #branding
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/combat-1300519_640.png")
  nav#main-menu
    ul
      a(href="")
        li Link 1
      a(href="")
        li Link 2
      a(href="")
        li Link 3
        
#mobile-trigger-open
  p <i class="zmdi zmdi-chevron-left"></i>
  
main
  section#articles-container
  
    // Article 1
    header.article-header
      //- section.byline
      //-   p by <u>John Doe</u> | 1.1.2018 | <u>category</u>, <u>category</u> | Be the first to comment
      h1 Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit
      //- h2 Article subhead goes here lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magni quia voluptatibus doloremque beatae ipsam, sit sapiente iure esse quas!
      

    article
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/pzad5uaz49e-oskar-krawczyk.jpg")
      article.article
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi praesentium, sint earum error porro ut necessitatibus ullam, aut dolorem quibusdam laborum reprehenderit, natus modi dolore inventore hic veniam labore.
        
        aside.more-trigger
          p Read More

        article.more
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A enim nobis aliquid et accusantium. Necessitatibus hic quam voluptas pariatur sed architecto officia dignissimos error quaerat dicta. Id recusandae autem modi voluptatum veniam, inventore nostrum deleniti, dignissimos temporibus distinctio corporis sunt non fugit illo nihil velit at reprehenderit ullam quisquam. Exercitationem.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat animi minus ad eius dignissimos nostrum necessitatibus ab dicta est totam.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in facere sint tempora velit eaque consectetur recusandae quaerat natus ut quibusdam quos numquam nemo amet sequi officia expedita quam iure ducimus nisi asperiores explicabo a, aliquam consequuntur! Atque nulla quasi quidem corporis accusantium, placeat iusto obcaecati quae iure optio ab?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa tempore fugit, sunt obcaecati esse adipisci assumenda quibusdam doloribus doloremque consectetur nihil molestiae neque suscipit maxime, aut accusamus est molestias iusto.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illum sequi rem. Quisquam sed blanditiis, magni dolor, saepe laborum aspernatur consectetur officiis doloribus! Eum nobis, illo placeat accusamus. Tempore eum explicabo odit eos, voluptate modi similique saepe in, fuga facilis impedit excepturi omnis unde, doloremque ipsa ducimus sit dolore ipsum?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odit mollitia rerum saepe iste sequi voluptates eligendi sint tenetur. Officiis quis doloribus asperiores corporis praesentium dolorum molestiae quisquam velit eaque nisi, dignissimos magni vitae rem, dolor? Qui cumque nihil omnis!
          
    hr
          
    // Article 2
    header.article-header
      //- section.byline
      //-   p by <u>John Doe</u> | 1.1.2018 | <u>category</u>, <u>category</u> | Be the first to comment
      h1 Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit
      //- h2 Article subhead goes here lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magni quia voluptatibus doloremque beatae ipsam, sit sapiente iure esse quas!

    article
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/esawhr5fhn8-oskar-krawczyk.jpg")
      article.article
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi praesentium, sint earum error porro ut necessitatibus ullam, aut dolorem quibusdam laborum reprehenderit, natus modi dolore inventore hic veniam labore.
        
        aside.more-trigger
          p Read More

        article.more
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A enim nobis aliquid et accusantium. Necessitatibus hic quam voluptas pariatur sed architecto officia dignissimos error quaerat dicta. Id recusandae autem modi voluptatum veniam, inventore nostrum deleniti, dignissimos temporibus distinctio corporis sunt non fugit illo nihil velit at reprehenderit ullam quisquam. Exercitationem.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat animi minus ad eius dignissimos nostrum necessitatibus ab dicta est totam.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in facere sint tempora velit eaque consectetur recusandae quaerat natus ut quibusdam quos numquam nemo amet sequi officia expedita quam iure ducimus nisi asperiores explicabo a, aliquam consequuntur! Atque nulla quasi quidem corporis accusantium, placeat iusto obcaecati quae iure optio ab?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa tempore fugit, sunt obcaecati esse adipisci assumenda quibusdam doloribus doloremque consectetur nihil molestiae neque suscipit maxime, aut accusamus est molestias iusto.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illum sequi rem. Quisquam sed blanditiis, magni dolor, saepe laborum aspernatur consectetur officiis doloribus! Eum nobis, illo placeat accusamus. Tempore eum explicabo odit eos, voluptate modi similique saepe in, fuga facilis impedit excepturi omnis unde, doloremque ipsa ducimus sit dolore ipsum?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odit mollitia rerum saepe iste sequi voluptates eligendi sint tenetur. Officiis quis doloribus asperiores corporis praesentium dolorum molestiae quisquam velit eaque nisi, dignissimos magni vitae rem, dolor? Qui cumque nihil omnis!
          
    hr
          
    // Article 3
    header.article-header
      //- section.byline
      //-   p by <u>John Doe</u> | 1.1.2018 | <u>category</u>, <u>category</u> | Be the first to comment
      h1 Article Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit
      //- h2 Article subhead goes here lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto magni quia voluptatibus doloremque beatae ipsam, sit sapiente iure esse quas!

    article
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/i2-rentbpku-oskar-krawczyk.jpg")
      article.article
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi praesentium, sint earum error porro ut necessitatibus ullam, aut dolorem quibusdam laborum reprehenderit, natus modi dolore inventore hic veniam labore.
        
        aside.more-trigger
          p Read More

        article.more
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A enim nobis aliquid et accusantium. Necessitatibus hic quam voluptas pariatur sed architecto officia dignissimos error quaerat dicta. Id recusandae autem modi voluptatum veniam, inventore nostrum deleniti, dignissimos temporibus distinctio corporis sunt non fugit illo nihil velit at reprehenderit ullam quisquam. Exercitationem.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat animi minus ad eius dignissimos nostrum necessitatibus ab dicta est totam.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus in facere sint tempora velit eaque consectetur recusandae quaerat natus ut quibusdam quos numquam nemo amet sequi officia expedita quam iure ducimus nisi asperiores explicabo a, aliquam consequuntur! Atque nulla quasi quidem corporis accusantium, placeat iusto obcaecati quae iure optio ab?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa tempore fugit, sunt obcaecati esse adipisci assumenda quibusdam doloribus doloremque consectetur nihil molestiae neque suscipit maxime, aut accusamus est molestias iusto.

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, illum sequi rem. Quisquam sed blanditiis, magni dolor, saepe laborum aspernatur consectetur officiis doloribus! Eum nobis, illo placeat accusamus. Tempore eum explicabo odit eos, voluptate modi similique saepe in, fuga facilis impedit excepturi omnis unde, doloremque ipsa ducimus sit dolore ipsum?

          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odit mollitia rerum saepe iste sequi voluptates eligendi sint tenetur. Officiis quis doloribus asperiores corporis praesentium dolorum molestiae quisquam velit eaque nisi, dignissimos magni vitae rem, dolor? Qui cumque nihil omnis!
          
          
 
 
  aside#sidebar
    #mobile-trigger-close
      p <i class="zmdi zmdi-close"></i>
    #element-1.widget
      h4 Widget Title
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/rrun5qcje_s-daryan-shamkhali.jpg")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptates ad recusandae iste! Ex corrupti exercitationem voluptates eius quisquam! Omnis!
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/c6dbtf4qf9u-sven-scheuermeier.jpg")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptates ad recusandae iste! Ex corrupti exercitationem voluptates eius quisquam! Omnis!
    #element-2.widget
      h4 Widget Title
      ul
        li 
          a.alt-link(href="") Some link goes here
        li 
          a.alt-link(href="") Some link goes here
        li 
          a.alt-link(href="") Some link goes here
    #element-3.widget
      h4 Widget Title
      p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum non, libero deleniti tempore delectus laborum?
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/bfezchfpm2i-igor-ovsyannykov.jpg")
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/kg71bxh8kfw-raybay.jpg")
      
      
#overlay